<!DOCTYPE html>
<html lang = "en-CA">
    <head>
       <title> About Savy </title>
        <meta charset = "UTF-8"> 
        <meta http-equiv="X-UA Compatible" content = "IE=Edge">
        <meta name = "viewport" content = "width=device-width", initial-scale="1.0">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <!-- -- add the library for the icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- -- link stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
    <div id = "header">
        <div class = "container">
            <nav>
                <span style="font-size:30px;cursor:pointer" ><img src="{{ url_for('static', filename='images/pic.png') }}" alt="SS_image" class="header-logo"></span>
                <ul>
                    <!-- main navigation bar -->
                    <li> <a href="{{ url_for('index') }}">Home</a> </li>
                    <li> <a href="{{ url_for('about') }}">About</a> </li>
                    <li> <a href="{{ url_for('start_learn') }}">Start Learning</a> </li>
                    <li> <a href="{{ url_for('contact') }}">Contact</a> </li>
                </ul>
            </nav>
            <div id = "about"> 
                <div class = "container">
                    <div class = "row">
                        <div class="ab-col-1">
                            <img src="{{ url_for('static', filename='images/world_pic.png') }}" alt="World pic">
                        </div>
                        <div class="ab-col-2">
                            <h1 class = "sub-ts">About Speak Savvy</h1> <br>
                            <p>Speak Savvy is a language learning tool for English speakers that is made to make learning a new language simple. With a series of basic phrases and words, Speak Savvy helps users learn in a more intuitive and easy way. Some of the languages we offer are French, Spanish, and Russian.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- -- link js file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
    </html>
