<!DOCTYPE html>
<html lang = "en-CA">
    <head>
       <title> SpeakSavvy Home </title>
        <meta charset = "UTF-8"> 
        <meta http-equiv="X-UA Compatible" content = "IE=Edge">
        <meta name = "viewport" content = "width=device-width", initial-scale="1.0">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <!-- -- add the library for the icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- -- link stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
    </head>
    <body>
    
    <div id = "header">
        <div class = "container">
            <nav>
                <span style="font-size:30px;cursor:pointer" ><img src="{{ url_for('static', filename='images/pic.png') }}" alt="SS_image" class="header-logo"></span>
                <ul>
                    <!-- main navigation bar -->
                    <li> <a href="{{ url_for('index') }}">Home</a> </li>
                    <li> <a href="{{ url_for('about') }}">About</a> </li>
                    <li> <a href="{{ url_for('start_learn') }}">Start Learning</a> </li>
                    <li> <a href="{{ url_for('contact') }}">Contact</a> </li>
                </ul>
            </nav>
            <div
                class = "header-text">
                <h1>Speak Savvy</h1>
                <p>An audio-based tool to simplify learning a new language.</p>

                <a href="{{ url_for('start_learn') }}" class="button" style="vertical-align: middle">
                    <span>Start Learning</span>
                </a>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
    </html>
