<!DOCTYPE html>
<html lang = "en-CA">
    <head>
        <title> Start Speaking Savvy </title>
        <meta charset = "UTF-8"> 
        <meta http-equiv="X-UA Compatible" content = "IE=Edge">
        <meta name = "viewport" content = "width=device-width", initial-scale="1.0">

        <!-- -- add the library for the icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- -- link stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
    <span style="font-size:30px;cursor:pointer;padding: 1%;" onclick="openNav()">&#9776; </span>
    <div id = "header">
        <div class = "container">
            <nav>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src="{{ url_for('static', filename='images/SS_image.png') }}" alt="SS_image"></span>
                <ul>
                    <!-- main navigation bar -->
                    <li> <a href="{{ url_for('index') }}">Home</a> </li>
                    <li> <a href="{{ url_for('about') }}">About</a> </li>
                    <li> <a href="{{ url_for('start_learn') }}">Start Learning</a> </li>
                    <li> <a href="{{ url_for('contact') }}">Contact</a> </li>
                </ul>
            </nav>

        <div class="container">
            <h1>Choose a Language to Start Practicing</h1>
            <div class="button-container">
                <a href="{{ url_for('french') }}" class="button">Practice French</a>
                <a href="{{ url_for('spanish') }}" class="button">Practice Spanish</a>
                <a href="{{ url_for('russian') }}" class="button">Practice Russian</a>
            </div>
        </div>

    
    <!-- ----- side navigation bar -->
    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href = "index.html">Home</a>
        <a href = "about.html">About</a>
        <a href = "startlearn.html">Start Learning</a>
        <a href ="contact.html">Contact</a>

    </div>

    
</body>
</html>